# Runtime
numpy
pandas
matplotlib
PyQt6
tqdm
scikit-learn
scikit-image
torch
torchvision
torchaudio
torchmetrics
transformers
sentencepiece
datasets
accelerate
evaluate
rouge_score
graphviz
openpyxl
# Development
mypy
isort
yapf
coverage
pytest